<!DOCTYPE html>
<html lang="en" style="--tg-viewport-height: 100vh; --tg-viewport-stable-height: 100vh;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/mystyle.css" rel="stylesheet" />
    <meta property="og:title" content="Hamster Kombat">
    <meta name="description" content="Make your way from the shaved hamster to the grandmaster CEO of the tier-1 crypto exchange">
    <meta property="og:description" content="Make your way from the shaved hamster to the grandmaster CEO of the tier-1 crypto exchange">
</head>
<body>
    <div id="__nuxt" data-v-app="">

            @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
